<h1>Tamagotchi</h1>
<br>
<h2><%= @pet_name %></h2>
<br>
<h3><%= @alive_or_dead %></h3>
<br>
<h3>Food Level:<%= @food_level %></h3>
<h3>Sleep Level:<%= @sleep_level %></h3>
<h3>Activity Level:<%= @activity_level %></h3>
<h3>Stinky Level:<%= @stinky_level %></h3>

<form action="/tamagotchi1" method = "get">

<label for="activity_selector"></label>
<select id="activity_selector" name="activity_selector1" class="form-control">
  <option value="play">Play</option>
  <option value="feed">Feed</option>
  <option value="sleep">Sleep</option>
  <option value="bathtime">Bathtime</option>
</select>

<button type="submit" class="btn-warning" id="time_passes">Time Passes</button>
</form>
